.sign_in {
	/* 界定盒子大小即为边框大小 */
	box-sizing: border-box;
	/* 高度为可视化 */
	min-height: 100vh;
	/* 内边框 */
	padding: 0rem !important;
	/* 宽度 */
	width: 100% !important;
	background: #eee !important;
	/* 背景图片 */

	/* position: relative; */
	/* background-image: repeating-radial-gradient(#fff, rgb(79, 224, 75) 10%, rgb(243, 244, 247) 15%) !important; */

}



/* 重置按钮 */
.el-main .el-button--default {
	margin: 0 !important;
	margin-right: 5px !important;
}

.el-main .el-button--default:hover {
	color: #7c7575
}

/* 添加按钮 */
.el-main .el-button--default.el-button--primary,
.el-main .el-button--primary {


	margin: 0 !important;
	margin-right: 8px !important;
	margin-bottom: 5px !important;

}

/* 删除按钮 */
.el-main .el-button--danger.el-button {

	margin-left: 12px;

	margin: 0 !important;
	margin-bottom: 5px !important;
}

#app .el-button.el-button--small.is-plain.el-button--primary {
	/* 	margin-left: 20px !important; */
	margin-bottom: 5px !important;
}

.el-image {
	height: 100%;
	width: 100%;
}

.el-avatar--circle img {
	height: 100% !important;
	width: 100% !important;
}

.action_right {
	float: left !important;
}

.item-ltb {
	display: none;
}

.sign_in .el-form {
	margin-top: 100px !important;
	position: relative;
	top: 127px;
}

.el-button--success {
	color: #FFF;
	background-color: #67C23A;
	border-color: #67C23A;
	margin-bottom: 5px !important;
}

.geetest_box_title {
	margin-right: 28px !important;
	color: #222;
	font-weight: 400;
	margin-left: -20px;
	font-size: 15px !important;
}
.geetest_box_title::before{
	display: none;
}
.geetest_box_title::after{
	content: '：';
}
.register_wrap img {
	width: 100% !important;
	height: 100% !important;
}


.login_conter h1 {
	font-size: 24px;
	margin-top: 50px;
	margin-bottom: 50px;
	font-weight: 600;
	background-color: transparent;
	color: #6c6868;
	padding: 12px;
	position: relative;
	left: -80px;
}

/* .login_conter .el-form-item__label,
.geetest_box_title {
	display: none;
} */


/*  */
#app .login_conter .el-form-item__content .el-input,
.geetest_box .el-input {

	color: #555 !important;
	position: relative;
	/* margin-left: -35px; */
}

.geetest_box {
	display: block !important;
	margin-left: 66px;
	width: 304px !important;
	margin-top: 41px;
}

.cell a.e-button.e-button--small.is-plain.el-button--primary {
	padding-top: 10px;
}

/* 登录表单的input框 */
#app .login_conter .el-form-item__content .el-input__inner:focus,
.geetest_box .el-input .el-input__inner:focus{
	background-color: #fff;
    border-color: #336fcf;
    box-shadow: 0 0 0 .25rem rgb(80 163 229 / 41%);
}

/* 登录页表单*/
#app .login_conter .el-form {
	/* 改为块 */
	display: block;
	flex-direction: column;
	align-items: flex-end;
	min-width: 430px !important;
	margin-left: auto !important;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 90px !important;
	border: 1px solid rgb(226, 227, 228);
	width: 450px;
	height: auto;
}

#app .login_conter .el-form-item__content {
	margin-left: 50px !important;
	margin-bottom: -19px;
}


#app .login_conter .el-form-item__content .el-input__inner::placeholder,
.geetest_box .el-input__inner::placeholder,
.sign_in .el-form-item__content .el-input__inner::placeholder {
	/* padding-left: 50px; */
	color: #555 !important;
	font-size: 14px;

}




.el-form-item__error {
	color: #F56C6C;
	font-size: 12px;
	line-height: 1;
	padding-top: 4px;
	position: absolute;
	top: 59% !important;
	left: 231px !important;
}

#canvas {
	background-color: #fff !important;
}

.sign_in .form {
	background: #fff !important;
	/* 背景图大小 */
	background-size: 100% 100% !important;
	padding-bottom: 50px !important;
	min-width: 700px !important;
	box-shadow: none !important;
	overflow: visible !important;
	padding-top: 50px !important;
}


/* 登录表单的按钮 */
.sign_in .form .el-button {
	/* 按钮大小改为25 */
	width: 40% !important;
	background: #868c8f!important;
	margin-bottom: 10px;
	margin-left: 0px !important;
	color: #fff !important;
	border: none !important;
	/* 改25 */
	height: 40px;
	line-height: 18px;
	/* border: 2px dashed #f6c90e !important; */

}



.sign_in .form .el-button :hover {
	font-size: 15px;
}

.register_wrap .form,
.forgot_wrap .form {
	padding-top: 70px !important;
}


.forgot_wrap .form h1 {
	color: #222;
    font-size: 33px;
    margin-top: 80px;
    position: absolute;
    height: 120px;
    line-height: 120px;
    width: 50%;
    top: -91px;
    left: -15px;
	font-weight: 500;
}

.register_wrap .form h1 {
    color: #222;
    font-size: 33px;
    margin-top: 80px;
    position: absolute;
    height: 120px;
    line-height: 120px;
    width: 50%;
    top: -91px;
    left: -41px;
	font-weight: 500;
}

.forgot_wrap .el-select {
	width: 100% !important;
}

/* 改动前 */
/* .login_conter .form .btns{
		position: absolute;
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 50% !important;
		       top: 104px;
		       left: 1%;
	} */

/* 登陆 注册三个按钮 */
.login_conter .form .btns {
	display: flex;
	height: 40px;
	margin-left: 30px;
	width: 70%;
	justify-content: space-evenly;
	flex-wrap: wrap;
margin-bottom: 20px;
	height: 100px;
}



.forgot_wrap .form .btns {
	margin-left: 30px;
	margin-top: 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100% !important;
	top: 104px;
	left: 1%;
}

.forgot_wrap .form .btns {
	top: 298px;
}

.forgot_wrap .el-input-group__append .el-button {
	width: 121% !important;
	margin-bottom: -13px !important;
}

.el-input-group__append {
	border: none !important;
	background-color: transparent !important;
}

.sign_in .form .lg_forgot,
.sign_in .form .lg_register {
	/* background-color: transparent;
		border: none;
		color: #54595a;
		width: 150px; */
}

.sign_in .form .lg_forgot {

	/* width: 50% !important; */
	/* height: 30px;
		line-height: 30px; */

}

.sign_in .form .lg_forgot span::before {}

.sign_in .form .lg_register {

	/* position: absolute;
		top: 57px;
		right: -10px;
		/* width: 50% !important; */
	/* height: 30px;
		line-height: 30px; */
	/* width: 32% !important; */

}

.sign_in .form .lg_register span::before {}


/* 注册的表单 */
#app .register_wrap .form{
	display: flex;
	flex-direction: column;
	align-items: center;
	height: auto; 
	width: 450px;
	min-width: auto !important;
	padding-left: 20px;
	margin-left: auto;
	top:0px;
	border: 1px solid rgb(226, 227, 228);
}

/* 忘记密码表单 */
#app .forgot_wrap .el-form{
	display: flex;
	flex-direction: column;
	align-items: center;
	/* height: 650px;  */
	width: 450px;
	min-width: auto !important;
	padding-left: 20px;
	margin-left: auto;
	top:0px;
	border: 1px solid rgb(226, 227, 228);
	margin-right: 200px;
}

.forgot_wrap .el-form-item{
	margin-bottom: 0px;
}

.register_wrap h1 {}

.register_wrap h1::before {
	/* content: '欢迎您'; */
}

.sign_in .el-form-item__label {
	color: #222 !important;
	width: 150px !important;
	text-align: center;
	font-weight: 500 !important;
    font-size: 15px;
    margin-bottom: -10px;
}

.sign_in .el-form-item__label::after {
	content: '：';

}

.sign_in .el-form-item__content {
	width: 320px !important;
	margin-left: 40px !important;
}

.register_wrap .form .rs_register {
	/* margin-left: 120px !important; */
}

.register_wrap .form .el-button {
	float: none;

	width: 30% !important;
}

.register_wrap .rs_back {
	margin-left: 10px !important;
}

.register_wrap .register_wrap .rs_register .rs_register {
	margin-left: 130px !important;
}

.forgot_wrap .el-button {
	width: 20% !important;
}

.search_btn_wrap_1 {
	display: flex;
	flex-direction: row;
	width: auto !important;
}

.derive {
	margin-right: 5px !important;

}

#app .view_a {
	display: flex;
	flex-direction: row;
	align-content: center;
	align-items: center;
	flex-wrap: wrap;

}

.el-button--success.is-plain {
	text-align: center;
	background-color: transparent !important;
	border: 1px solid #67C23A !important;
}

#app .cell .e-button {
	margin-right: 0px !important;
	width: 80px !important;
	margin: 2px auto !important;
	height: 32px;
	line-height: 14px;
	text-align: center;
}


/* 影响到侧边每一项 */
#app .page .side .el-submenu__title {
	background-color: transparent !important;
	text-align: left;
	font-size: 16px !important;
	padding-left: 50px !important;
}

#app .page .side i {
	/*文字摆放位置*/
	/* text-align: left !important; */
	/* 文字大小 */
	/* font-size: 50px !important; */
	/* font-weight: 600; */
	/* 字体倾斜 */
	/* font-style:oblique; */
	/* 下划线 */
	/* text-decoration:underline; */
	/* 下划线颜色 */
	/* text-decoration-color: #00a4ff; */
	/* 文字颜色 */
	color: #7b8caa;
	display: none;

}

.search_btn_find {
	background-color: #0092ff !important;
}

.query_time {
	display: flex;
}

.query_time label {
	line-height: 30px;
	margin-right: 0.3125rem;
}

.el-date-editor .el-range-separator {
	width: 10% !important;
}

.el-table td,
.el-table th.is-leaf {
	border-right: 1px solid #EBEEF5;
	border-bottom: 1px solid #dee2e6 !important;
}

.el-table th.is-leaf {
	/* border-bottom: 2px solid #dee2e6; */
}

.el-table--enable-row-transition .el-table__body td {
	background-color: #fff !important;

}

/* 表头的颜色 */
.el-table th {
	background-color: #fff !important;
	font-size: 14px;
	color: black !important;
}

.el-table td:nth-child(1),
.el-table th:nth-child(1) {
	/* 	border-left: 1px solid #EBEEF5; */
}

.search_btn_1 .search_btn_add {
	margin-right: 5px;
}

/* 装按钮的盒子 */
.search_btn_1 {
	width: 100% !important;
	justify-content: center;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-end;
	/* margin-left: 30px ; */
}

#app .search_btn_1 button {
	margin-bottom: 15px !important;
	font-size: 16px;
	font-weight: 200;
	letter-spacing: 1px;
	padding: 13px 20px 13px;
	outline: 0;
	border: 1px solid black;
	cursor: pointer;
	position: relative;
	user-select: none;
	-webkit-user-select: none;
	touch-action: manipulation;
	border: none !important;


}

/* 按钮字体颜色 */
#app .search_btn_1 button span {
	color: #fff;
	font-weight: 00;
}



.login_conter .el-input {
	max-width: 21.625rem;
	min-width: 22rem;
}

.el-col {
	overflow: visible !important;
}

.sign_in .el-input {
	width: inherit !important;
}

/* “后台首页” */
header,
.side>.el-menu-item {
	background-color: #d7d3c3 !important;
	height: 75px;
	color: #fff !important;
	line-height: 75px;
}

.timess div::before {
	content: '当前时间：';
}

.timess {
	display: none;
	position: absolute;
	right: 10%;
	font-size: 16px;
	color: #222;
}

.side>.el-menu-item {
	/* 取消了背景 */
	/* background: #828890 !important; */
	/* margin-left: 30px; */
	padding-left: 31px !important;
}

.side>.el-menu-item span {
	font-size: 20px;
	font-weight: 600;
	margin-left: 20px;
}

.side {
	background: #fff !important;
}

.el-submenu .el-menu-item {
	background-color: #fff !important;
	color: #222 !important;
	text-align: center;
}

/* 增加hover */ 
 .el-submenu .el-menu-item:hover{
	background-color: #d7d3c3 !important;
	border-radius: 10px;
}

/* .el-menu-item.is-active :hover{
	background-color: #d7d3c3 !important;
} */


#app .side .el-menu-item.active {
	color: #222 !important;
	/*  font-size: 16px !important;
  font-weight:600; */
	position: relative;



}

#app .side .el-menu-item.active::before {
	content: '';
	display: none;
	width: 10px;
	height: 30px;
	background: #222 !important;
	position: absolute;
	top: 20%;
	right: 10px;
}

.btn_menu {
	display: none !important;
}

.side .el-submenu {
	/*  border-bottom: 1px dashed #595252; */
	/* height: 60px;
		 line-height: 60px; */
}

/* 添加边角 */
.side .el-submenu:nth-child(odd) {
	background-color: #d7d3c3;
	border-radius: 10px;
}

.side .el-submenu:nth-child(even) {
	background-color: #eeeeee;
}

#app .side .el-menu-item.is-active {
	color: #232433 !important;
	position: relative;
	background-color: #d5d5d5 !important;

	/* padding-left: 30px !important; */
}

/* 首页精灵图 */
/* 关闭，有bug，会移动 */
#app .side .el-menu-item.is-active::before {
	/* content: '';
	display: inline-block;
	width: 26px;
	height: 26px; */
	/* 去掉黑点影响美观 */
	/* background: #aa9d78 !important; */
	/* opacity: 0.2;
	position: relative;
	top: 20%;
	right: 10px;
	background-image: url(../img/home.png);
	top: 8px;
    left: 15px; */
}

#app .side .el-menu-item.sactive {

	color: #222 !important;
}

#app,
.el-submenu__title {
	font-size: 15px !important;
}

.action_left {
	background-color: #eeeeee !important;
}

.el-breadcrumb {
	font-size: 16px !important;
}

.action_center {
	font-size: 22px !important;
	line-height: 100px !important;
	height: 100px !important;
	background-color: #d7d3c3;
	margin: 0 247px;
}

.action_right {
	line-height: 80px !important;
	height: 100px !important;
	/* 舍弃颜色 */
	/* background-color: #eeeeee; */
}

/* 直接绝对定位调正位置 */
.el-dropdown{
	position: absolute !important;
    left: 1508px;
    top: 18px;
	margin-left: 61px;
}
.el-dropdown-link span {
	font-size: 16px !important;
}

.el-dropdown span {
	color: #222;
	font-size: 16px;
}

.breadcrumb_box {
	display: none !important;
}

/* 修改位置 */
.timess {
    position: absolute;
    right: 7px;
    font-size: 16px;
    color: #222;
    top: 42px;
}

.el-table tr:nth-child(even) {
	background-color: #f0f4f7 !important;
}

.search_btn_reset {
	display: none !important;
}

.el-col-8 {
	width: 80% !important;
	margin-left: 150px !important;
}

.el_form_search_wrap {
	width: 100% !important;
	margin-right: 10px;
}


.search_btn_1 {
	display: flex;
}


.search_btn_1>.el-button.el-button--default {
	color: #fff !important;
	background-color: #868c8f!important;
	/* border-color: #20b799 !important; */
	position: relative;
	padding-left: 25px !important;
	height: 42px !important;
}

.el-button.el-button--default{
	background-color: #868c8f !important;
	color: #fff !important;
}

#app .search_btn_del {
	color: #fff;
	border-color: #d7d3c3 !important;
	position: relative;
	padding-left: 25px !important;
	margin-bottom: 0px !important;
	margin-right: 8px !important;
	height: 42px !important;
}

 .login_conter h1 {
	display: none; 
} 


.login_conter h1 {
	/* display: none; */
	/* border-bottom: 4px dashed #bddadb; */
	/* border-bottom: 4px dashed #bddadb; */
	width: 65%;
	position: relative;
	left: 15%;
	position: absolute;
	top: -175px;
	background-color: #d7d3c3;
	height: 120px;
	line-height: 93px;
	border-radius: 16%;
}




.export-excel-wrapper .el-button--success {
	color: #fff !important;
	background-color: #d7d3c3 !important;
	border-color: #d7d3c3 !important;
	position: relative;
	padding-left: 25px !important;
	margin-bottom: 0px !important;
	margin-right: 8px !important;
	height: 42px !important;
}

.el-upload--text .el-button--primary {
	color: #fff !important;
	background-color: #d7d3c3 !important;
	border-color: #d7d3c3 !important;
	position: relative;
	padding-left: 25px !important;
	margin-bottom: 0px !important;
	margin-right: 8px !important;
	height: 42px !important;
}

/* 表格里面的按钮 */
.cell .el-button--primary.is-plain {
	color: #fff !important;
	background-color: #868c8f!important;
	border-color: #d7d3c3 !important;
}

.cell .el-button--primary.is-plain:hover {
	background-color: #d7d3c3;
}

.el-button--success.is-plain:focus,
.el-button--success.is-plain:hover {
	color: #1d5e12 !important;
}

.cell .el-button {
	color: #fff !important;
	background-color: #868c8f !important;
	border-color: #d7d3c3 !important;

}

/* 表格按钮 */
.cell .el-button--success.is-plain,.cell .el-button--primary.is-plain {
	color: #fff !important;
	background-color:#9ec5d9 !important;
	border-color: #9ec5d9 !important;
}

/* 有Input框的表单 */
.table_wrap .el-form-item {
	display: flex;
	flex-direction:column;
	align-items: flex-start;
}


.table_wrap .el-form-item .el-input__inner{
	/* width: 1200px !important; */
}
.table_wrap .el-form-item .el-input-number .el-input__inner{
	width: 100% !important;
}



/* 我要定制管理 */
.edit_wrap .el_form_btn_warp {
	width: 100% !important;
	/* border-top: 2px dashed #8bb1cd; */
	padding-top: 20px;
	/* background-color:#e6edef; */


}

.edit_wrap .el_form_btn_warp .el-form-item__content {
	display: flex;
	justify-content: center;
	margin-left: 0px !important;
}

.edit_wrap .el-form-item__content .el_form_btn {
	width: 10% !important;
	margin-right: 10px !important;
}

.edit_wrap .el-form-item__content .el-button {
	width: 100px !important;
	height: 40px;
	line-height: 16px;
	border-radius: 10px;
}

/* 我要定制管理里面的按钮样式 */
.edit_wrap .el-form-item__content .el-button--primary {
	color: #fff !important;
	background-color: #868c8f !important;
	border-radius: 10px;
	border-color: #eeeeee !important;
}

.edit_wrap .el_form_btn_warp .el-form-item__content>.el-button--default {
	color: #fff !important;
	background-color: #868c8f  !important;
	border-radius: 10px;
	border-color: #eeeeee !important;
}

.bg .el-form-item__label {
	font-size: 15px !important;
	width: 110px !important;
}

.edit_wrap .el-form-item__label:after {
	content: ':';
}


.edit_wrap {
	background-color: transparent !important;
}

.edit_wrap .el-form-item__label {
	width: 109px !important;
	display: flex;
	justify-content: flex-end;
}

#user_info .el_form_btn_warp {
	width: 100% !important;
}

#user_info .el_form_btn_warp,
#user_password .el_form_btn_warp {
	margin-left: 0px !important;
	display: flex;
	flex-direction: row;
	justify-content: center;
}

#user_password .el_form_btn {
	width: 10% !important;
	margin-right: 10px;
}

.el-textarea {
	width: 80% !important;
}

.edit_wrap .el-form {
	width: 80% !important;
	margin: 10px auto;
	background-color: #fff;
	padding: 20px;
}

.edit_wrap .el-form .el_form_item_warp {
	width: 50% !important;
}

/* 增加上边框 */
.edit_wrap .el-input__inner,
.el-upload-dragger,
.el-textarea__inner,
.quill-editor {
	background-color: transparent !important;
	/* border: 2px dashed #24695c; */
	/* border-top: none; */
}

/* 相关附件框 */
.el-upload-dragger {
	/* border: 2px dashed #24695c !important; */
}

.el-upload-dragger:hover {
	/* border: 2px dashed #24695c !important; */
	background-color: #fff;
    border-color: #c27be4 !important;
    box-shadow: 0 0 0 .25rem rgb(117 186 218);

}

.edit_wrap .el-form .el-row {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
}
.face-login {
    width: 23% !important;
    background-color: #d2d7d99c;
    position: relative;
    left: 67%;
    top: 151px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    padding-top: 20px;
}

/* 登录页所有输入框 */
/* 注册页所有输入框 */
.sign_in .el-input input {
	background-color: #fff;
	border: 0.0625rem dashed #3a4750;
	border: 1px solid #efe6e6 !important;
	padding-left: 24px;
}

/* 所有输入框效果 */
.sign_in .el-input input:focus{
	background-color: #fff;
    border-color: #82aad7 !important;
    box-shadow: 0 0 0 .25rem rgb(117 186 218);
}

.face-login .el-button {
	width: 150px;
	margin-bottom: 10px;
	margin-left: 0px !important;
}

.face-img .el-button {
	margin-left: 14px !important;
}

.face-camera .el-button {
	margin-left: 92px !important;
}




.register_wrap .el-form-item {
	display: flex;
	flex-direction: column;
	margin-bottom: 4px;
}

.register_wrap .el-select {
	width: 100%;
}

.geetest_box .el-input {
	min-width: 3rem !important;
}

.quill-editor {
	margin-left: 29px !important;
}

article {
	padding-bottom: 50px !important;
}

/* 管理员的查询 */
.table_wrap .el-form {
	/* 不设置开宽度  取消浮动 */
	/* width: 23%; */
	/* float: left; */
	background-color: #eeeeee;
	margin-right: 5px;
	padding: 20px;
}

.table_wrap .el-form .search_btn_wrap {
	border-top: 1px dashed #d7d3c3;
	padding-top: 20px;
}

.table_wrap .el-table {
	/* width: 75% !important; */
	margin: 20px auto;
}
.table_wrap .el-form-item__content{
	margin-left: 0 !important;
}
.table_wrap .el-form-item__label{
	text-align: left !important;
}

#user_info .card,
#user_password .card {
	padding: 2rem 1rem;
	width: 60%;
	margin: 10px auto;
	background-color: #fff !important;
}

/* 个人信息按钮 */
#user_password .el-button--primary,
#user_info .el-button--primary {
	background-color: #923eb9;
	color: #fff;
	border: 1px solid #d7d3c3;
}

#app .side .el-menu-item.is-active.sactive::before {
	display: none;
}

#app .login_conter .el-form {
	min-height: 325px !important;
	justify-content: center !important;
	margin-right: 200px;
	background-color: #ffffff85 !important;
}



/* 登陆页的登陆文字 */
#app .login_conter .el-form::before {
    position: absolute;
    top: 14px;
    left: -35px;
    content: '欢迎登录';
    display: block;
    color: #222;
    font-size: 33px;
    font-weight: 500 !important;
    padding: 0 51px;

}


/* 忘记密码的按钮 */
.sign_in .form .el-button.lg_forgot{
	background-color: transparent !important;
	color: #222 !important;
	position: absolute;
	left: 278px;
    top: 314px;
}


/* 选择精灵图，无效 */
.login_conter .el-form-item.is-required .el-form-item__label:first-of-type{
	position: relative;
}

/* 登录页面的精灵图 */
/* 第一 */
.login_conter .is-required:nth-of-type(1) .el-form-item__label::before{
	content: '' !important;
    position: absolute;
    top: 31px;
    left: 52px;
    z-index: 12;
    display: inline-block;
    width: 37px;
    height: 37px;
	/* background-color: #f3d3f7;
	background-position: center;
    border-right: 1px solid #e6edef !important;
    background-image: url(../img/email.svg);
	background-repeat: no-repeat; */
}

/* 第二项精灵 */
.login_conter .is-required:nth-of-type(2) .el-form-item__label::before{
	content: '' !important;
    position: absolute;
    top: 31px;
    left: 52px;
    z-index: 12;
    display: inline-block;
    width: 37px;
    height: 37px;
	/* background-color: #f3d3f7;
	background-position: center;
    border-right: 1px solid #e6edef !important;
    background-image: url(../img/icon_加密.svg);
	background-repeat: no-repeat; */
}

 /* .login_conter .is-required .el-form-item__label{
	background-color: red;
 } */



/* 登录页验证码图 */
.sign_in.login_conter .geetest_box_content .test-v .el-input::before{
	content: '' !important;
    position: absolute;
    top: 1px;
    left: 2px;
    z-index: 12;
    display: inline-block;
    width: 37px;
    height: 37px;

}



/* 注册按钮 */
.sign_in.register_wrap .el-button.float-right.rs_register.el-button--primary{
	/* background-color: red !important; */
	/* position: relative; */
	top: 0px;
	left: 77px;
	background-color: #868c8f!important;
    border-color: #24695c !important;
	width: 314px !important;
	font-size: 14px;
	font-weight: 600;
	margin-left: 39px !important;
	margin-top: 5px;
}

/* 返回按钮 */
.sign_in.register_wrap .el-button.float-right.rs_back.el-button--default{
	    /* background-color: red !important; */
    /* position: relative; */
    top: 0px;
    left: 77px;
    background-color: #868c8f!important;
    border-color: #24695c !important;
    width: 314px !important;
    font-size: 14px;
    font-weight: 600;
    margin-left: 39px !important;
    margin-top: 5px;

}

#app .register_wrap .form{
	padding-top: 95px !important;
	margin-right: 200px;
	background-color: #ffffff85 !important;
	/* max-height: 350px;
	height: 350px; */
	overflow: auto !important;
	
}

/* 注册页精灵图 */
.sign_in.register_wrap .el-form-item:nth-of-type(1) .el-form-item__content::before{
	content: '' !important;
    position: absolute;
    top: 1px;
    left: 2px;
    z-index: 12;
    display: inline-block;
    width: 37px;
    height: 37px;																									

}

.sign_in.register_wrap .el-form-item:nth-of-type(2) .el-form-item__content::before{
	content: '' !important;
    position: absolute;
    top: 1px;
    left: 2px;
    z-index: 12;
    display: inline-block;
    width: 37px;
    height: 37px;
	
}


.sign_in.register_wrap .el-form-item:nth-of-type(3) .el-form-item__content::before{
	content: '' !important;
    position: absolute;
    top: 1px;
    left: 2px;
    z-index: 12;
    display: inline-block;
    width: 37px;
    height: 37px;
	
}

.sign_in.register_wrap .el-form-item:nth-of-type(4) .el-form-item__content::before{
	content: '' !important;
    position: absolute;
    top: 1px;
    left: 2px;
    z-index: 12;
    display: inline-block;
    width: 37px;
    height: 37px;
	
}

.sign_in.register_wrap .el-form-item:nth-of-type(5) .el-form-item__content::before{
	content: '' !important;
    position: absolute;
    top: 1px;
    left: 2px;
    z-index: 12;
    display: inline-block;
    width: 37px;
    height: 37px;
	
}

.sign_in.register_wrap .el-form-item:nth-of-type(6) .el-form-item__content::before{
	content: '' !important;
    position: absolute;
    top: 1px;
    left: 2px;
    z-index: 12;
    display: inline-block;
    width: 37px;
    height: 37px;

}





/* 文字 */
.sign_in.register_wrap .el-col.el-col-24 .el-select .el-input--suffix span.el-input__suffix-inner::before{
	/* background-color: red; */
	content: '已有帐户？';
	position: absolute !important;
	top: 106px;
    left: -189px;
	font-size: 15px !important;
	font-weight: 600;
	color: black !important;
	display: none;
}

.el-icon-arrow-up::before{
	content: '' !important;
}


/* 忘记密码表单 */
.sign_in.forgot_wrap .el-form.form{
	background-color: #ffffff85 !important;

	margin-left: auto !important;
    width: 450px;
	padding-left: 20px;
	/* height: 500px; */
	top: 130px;
}

/* 忘记密码精灵图 */
.sign_in.forgot_wrap .el-form-item:nth-of-type(1) .el-form-item__content::before{
	content: '' !important;
    position: absolute;
    top: 31px;
    left: 2px;
    z-index: 12;
    display: inline-block;
    width: 37px;
    height: 37px;
	
}


.sign_in.forgot_wrap .el-form-item:nth-of-type(2) .el-form-item__content::before{
	content: '' !important;
    position: absolute;
    top: 31px;
    left: 2px;
    z-index: 12;
    display: inline-block;
    width: 37px;
    height: 37px;

}

.sign_in.forgot_wrap .el-form-item:nth-of-type(6) .el-form-item__content::before{
	content: '' !important;
    position: absolute;
    top: 31px;
    left: 2px;
    z-index: 12;
    display: inline-block;
    width: 37px;
    height: 37px;
	
}

.sign_in.forgot_wrap .el-form-item:nth-of-type(7) .el-form-item__content::before{
	content: '' !important;
    position: absolute;
    top: 31px;
    left: 2px;
    z-index: 12;
    display: inline-block;
    width: 37px;
    height: 37px;

}



/* 提交按钮 */
.sign_in.forgot_wrap .fg_submit.el-button--primary{
	/* position: absolute;
    top: 365px;
    left: 75px; */
	width: 318px !important;
	background-color: #868c8f!important;
    border-color: #24695c !important;
	font-size: 14px;
	font-weight: 600;
}

/* 忘记密码文字 */

.sign_in.forgot_wrap  .form h1::after{
	/* background-color: red !important */
	content: '已经有密码了？';
	position: absolute !important;
	top: 389px;
    left: 46px;
	font-size: 15px !important;
	font-weight: 500;
	color: black!important;
	display: none;
}

/* 取消按钮 */
.sign_in.forgot_wrap .fg_cancle.el-button--default{
	width: 318px !important;
	background-color:#868c8f !important;
    border-color: #24695c !important;
	font-size: 14px;
	font-weight: 600;
}


/* 主页 */
/* 整个侧边栏*/
.page .side.el-menu-vertical-demo.el-menu{
	background-color: #ffffff !important;
	/* overflow: scroll !important;  */
	overflow-y: auto !important;
	/* 滚动条无法显示 */
	/* overflow: auto !important; */
	max-height: 900px;
}

/* 第一个   “后台首页” */
.page .side.el-menu-vertical-demo.el-menu .el-menu-item{
	background-color: #d5d5d5 !important;
	/* border-bottom: 1px solid  rgb(230, 237, 239); */
	border-bottom: 1px solid  rgb(230, 237, 239) !important;
	box-shadow: 0 0 20px rgba(25, 124, 207, 0.08) !important;
	-webkit-box-shadow: 0 0 20px rgba(25, 124, 207, 0.08) !important; 
	overflow: visible;
	border-collapse: separate;
}

/* 设置“后台首页的文字” */
.page .side.el-menu-vertical-demo.el-menu .el-menu-item>span{
	color:  #5f5f5f !important;
	font-size: 16px;
	font-weight: 400;

}


/* 每一项 */
.page .side.el-menu-vertical-demo.el-menu .el-submenu{
	position: relative;
	background-color: #d5d5d5;
	border-bottom: 1px solid  rgb(230, 237, 239);
	/* 增加外边距 让按钮不要充满整个容器 */
	/* margin: 10px; */
	text-align: left !important;
}

/* 每一项前的图标 */
.page .side.el-menu-vertical-demo.el-menu .el-submenu::before{
	content:'';
	position: absolute;
	background-image: url(../img//discount.svg);
	background-repeat: no-repeat;
	background-size: contain;
	width: 20px;
	height: 20px;
	top: 18px;
	left: 20px;
}


/* 每一项字体 */
.page .side.el-menu-vertical-demo.el-menu .el-submenu .el-submenu__title span{
	color: #5f5f5f;
	font-size: 16px;
	font-weight: 400;
}

/* 增加下拉箭头 */
.page .side.el-menu-vertical-demo.el-menu .el-submenu .el-submenu__title span::after{
	content: '';
	float: right;
	background-image: url(../img/11.svg);
	width: 30px;
	height: 30px;
	margin-top: 20px;
	background-repeat: no-repeat;
}



/* 每一项中嵌套的子项   */
.page .side.el-menu-vertical-demo.el-menu .el-submenu ul li>span{
	color: 5f5f5f !important;
	font-weight: 500;
	font-size: 16px;
}

.page .side.el-menu-vertical-demo.el-menu .el-submenu ul li>span::before{
	content: '';
	display: inline-block;
	width: 15px;
	height: 15px;
	background-image: url(../img/22.svg);
	background-size: contain;
	margin-right: 5px;
	line-height: 50px;
}	

.page .side.el-menu-vertical-demo.el-menu .el-submenu ul li:hover{
	background-color: #f4ebf8 !important;
}



/* 	悬停背景色 */
.page .side.el-menu-vertical-demo.el-menu .el-submenu:hover{
	background-color:#f4ebf8;
	/* border-radius: 10px; */
	transition: 0.7s;
	color: #fff !important;
}

/* 最外层字体变色 */
.page .side.el-menu-vertical-demo.el-menu .el-submenu:hover div span{
	color: #868c8f;
	transition: 0.7s;
}

/* 最外层点击保持变色  结合类名*/
.page .side.el-menu-vertical-demo.el-menu .el-submenu.is-opened{
	background-color:#505354 !important;
	color: white !important;
	/* border-radius: 10px; */
	transition: 0.7s;
}

/* 点开之后箭头旋转 */
/* 有.is-opened类名的时候 修改图片 */
.page .side.el-menu-vertical-demo.el-menu .el-submenu.is-opened .el-submenu__title span::after{
	background-image: url(../img/33.svg);
}


/* 字体保证变色 */
.page .side.el-menu-vertical-demo.el-menu .el-submenu.is-opened div span{
	color: #fff;
}

/* 子项左对齐 */
.page .side.el-menu-vertical-demo.el-menu .el-submenu ul li{
	text-align: left;
    padding-left: 40px !important;
    background-color: #fff !important;
}

/* 去掉背景有黑点问题 */
.el-submenu .el-menu{
	background-color: #fff !important;
}


/* 标题 */
.page header .warp .el-col.el-col-24{
	background-color: #d5d5d5;
	/* 边框线 */
	/* border-bottom: 1px solid  rgb(230, 237, 239) !important;
	box-shadow: 0 0 20px rgba(25, 124, 207, 0.08);
	-webkit-box-shadow: 0 0 20px rgba(25, 124, 207, 0.08);   */
}

/* 题目文字 */
.page header .warp .action_center{
	background-color: #d5d5d5;

	color: #68a1bf;
	font-size: 28px !important;
	
}


/* 右边主体内容部分 */
.page article{
	background-color: #e1e1e1 !important;
}

/* 侧栏头像 */
.hide-avatar {
    background-color: #d5d5d5;
    display: block !important;
    position: relative;
    height: 72px;
    border-bottom: 1px solid  rgb(230, 237, 239) !important;
}
/* 首页图片 */
.hide-avatar img{
	display: none;
	/* position: absolute;
	top: 27px;
    left: 63px;
	border-radius: 45px;
	height: 90px;
	width: 90px;
	border: 10px solid rgba(36, 105, 92, 0.2); */
}

/* 用户名 */
.hide-username {
    position: absolute;
    display: inline-block !important;
    color: #71c5e7;
    z-index: 2;
    top: 19px;
    left: 72px;
    font-size: 22px;
    font-weight: 600;
    font-family: "Montserrat", sans-serif;
}

/* logo */
.hide-username::before{
	content: '';
	display: inline-block;
	position: absolute;
	width: 30px;
    height: 26px;
	background-image: url('../img/logo.png');
	background-repeat: no-repeat;
	background-size: contain;
	top: 3px;
    left: -35px;
	display: none ;
}

/* 管理员 */
.el-form.form.p_4.el-form--label-right{
	background-color: #fff !important;
	border: 1px solid  rgb(230, 237, 239) !important;
	box-shadow: 0 0 14px #d5d5d5;
}


/* 按钮 */
.el-form.form.p_4.el-form--label-right button{
	background-color:#868c8f!important;
	/* #24695c */
}

/* 按钮悬停背景效果 */
.el-form.form.p_4.el-form--label-right button:hover{
	/* background-color:#8436a8 !important; */
	/* #24695c */
}

/* 悬停文字效果 */
.el-form.form.p_4.el-form--label-right button:hover span{
	/* #24695c */
	color: #fff !important;
	font-size: 16px;
	font-weight: 600;
}

/* 整个下拉框 */
.el-dropdown-menu.el-popper{
	position: relative;
	/* background-color: red; */
	width: 130px;
	text-align: center;
}

.el-dropdown-menu.el-popper::before{
/* 	content: 'admin'; */
    top: 15px;
    position: absolute;
    font-size: 26px;
    left: 32px;
}



/* 下拉框每一项 */
.el-dropdown-menu__item:hover{
	background-color: #e9daf1 !important;
	color: #5f5f5f !important;	
}
/* 
.el-dropdown-menu__item:focus, .el-dropdown-menu__item:not(.is-disabled):hover {
    background-color: #ecf5ff;
    color: #66b1ff;
} */

/* 下拉框第一个元素 */
.el-dropdown-menu__item:first-child{
	/* background-color: red !important; */
	margin-top: 45px;
	border-top: 1px solid #e9ecef;
}



/* 登录页按钮  注册 */
.sign_in.login_conter .el-button.float-right.lg_register.el-button--default {
    position: absolute;
    top: 400px;
    left: 51px;
    background-color: transparent !important;
    color: black !important;
    background-color: #868c8f!important;
    border-color: #24695c !important;
    width: 358px !important;
}

.sign_in.login_conter .el-button.float-right.lg_register.el-button--default span{
	color: white !important;
}

.sign_in.login_conter .el-button.float-right.lg_register.el-button--default span::before{
	content: '还没有账号？';
	color: black;
	font-size: 14px !important;
	font-weight: 600 !important;
	display: none;

}

/* 登陆按钮 */
.sign_in.login_conter .el-button.float-right.lg_login.el-button--primary{
	position: absolute;
	width: 80% !important;
	left: 50px;
	/* margin-top:20px; */
}

/* 登陆询问语 */
.sign_in.login_conter .el-form-item.is-required:first-of-type::before{
	display: none !important;

	content: '登录账号';
	display: block;
	position: absolute;
	top: 71px;
    left: 168px;
	font-size: 14px;
    margin-bottom: 25px;
    color:black;
}

/* 注册询问语 */
.sign_in.register_wrap .el-form.form::before{
	content: '创建新账户';
	display: block;
	position: absolute;
	top: 71px;
    left: 185px;
	font-size: 14px;
    margin-bottom: 25px;
    color:black;
	display: none;
}

/* 登录页背景色 */
.sign_in.login_conter{
	background-color: #fff !important;
}

/* 老背景 */
/* .sign_in.register_wrap{
	background: url(../img/bg.jpg) no-repeat !important;
	background-size: 775px 927px !important;
	background-color: #e9f0ee !important;
}

.sign_in.forgot_wrap{
	background: url(../img/bg.jpg) no-repeat !important;
	background-size: 775px 927px !important;
	background-color: #e9f0ee !important;
} */


/* 滚动条  无效 */
::-webkit-scrollbar {
    width: 4px;
    height: 4px;
}
 
::-webkit-scrollbar-thumb {
    border-radius: 5px;
    -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
    background-color: #99a9bf;
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
    border-radius: 5px;
    background-color: #d3dce6;
}


input:focus{
	/* border-color: #91cbba !important; */
	background-color: #fff;
    border-color: #c27be4 !important;
    box-shadow: 0 0 0 .25rem rgb(117 186 218);
}

.el-input__inner:hover{
	border: 1px solid #dee2e6 !important;
}

.el-main{
	border: 1px solid #e2e3e4
}

.el-dropdown-link.el-dropdown-selfdefine span:nth-child(2){
	display: none;
}


.el-col-sm-12{
	width: 100% !important;
}

/* 修改密码页 */
#user_password .el-form-item__label{
	margin-left: 211px;
}

/* 表单中的input框 */
.el-form-item__content{
	line-height: 40px;
    position: relative;
    font-size: 14px;
    margin-left: 69px;
}

/* 登录页背景图 */
.sign_in{
	/* height: 466px; */
	width: 100% !important;
	background: url(../img/bg.jpg) no-repeat !important;
	background-size: cover !important;

}


.edit_wrap .el-input {
    position: relative;
    font-size: 14px;
    display: inline-block;
    width: 100%;
}

.edit_wrap .el-form .el_form_item_warp {
    width: 100% !important;
}

 .el_form_item_warp .el-input{
	max-width: 100%;
}

.el-select{
    width: 100% !important;

}

.el-date-editor.el-input{
    width: 100% !important;
	
}

.upload-demo{
    width: 100% !important;
	max-width: 100% !important;

}
.el-upload{
   

}


.el-upload-dragger{
    width: 100% !important;

}
.edit_wrap input{
    width: 100% !important;

}

.quill-editor {
    margin-left:25px !important;
}
.el-textarea {
    width: 100% !important;
}

.page {
    background-color: #d5d5d5;
   
}

.page .side.el-menu-vertical-demo.el-menu .el-submenu ul li:hover {
    background-color: #d9d9d9 !important;
}

.el-dropdown-menu__item:hover {
    background-color: #505354 !important;
    color: #fff !important;
}

#user_password .el-button--primary, #user_info .el-button--primary {
    background-color: #868c8f ;
    color: #fff;
    border: 1px solid #d7d3c3;
}

#user_info .avatar-uploader .el-upload {
    border: 0px dashed #d9d9d9 !important;
    border-radius: 6px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}


#user_info .avatar-uploader  .el-upload-dragger {
    background-color: #fff;
    border: 0px dashed #d9d9d9;
    border-radius: 6px;
    box-sizing: border-box;
    width: 360px;
    height: 180px;
    text-align: center;
    position: relative;
    overflow: hidden;
}
	

.el-col-xl-8 {
    width: 100% !important; 
}


#user_password .el-form-item{
	display: flex;
	flex-direction: row;
}

#user_password .el-form-item__label {
    margin-left: 2px;
}

#user_password .el-input__inner {

    width: 361%;
}
.iframe_box{
	margin-top: 225px !important;
}

img{
	height: 100%;
}
#app .side .el-menu-item.active{
	    background-color: #d5d5d5 !important;
}
#app .side  .is-active.sactive{
	background-color: #fff !important;
}
#app .page .side .el-menu--inline .el-submenu__title{
	padding-left: 20px !important;
}

.el-menu--inline .el-submenu__title span{
	color: #5f5f5f !important;
}
.el-menu--inline .el-submenu.is-opened div span{
	color: #5f5f5f !important;
}
.page .side.el-menu-vertical-demo .el-menu--inline .el-submenu.is-opened{
	background-color: transparent !important;
}
.el-form-item__content .quill-editor{
	margin-left: 0 !important;
	margin-top: 42px !important;
}